{:gopher {:binding {:address "0.0.0.0" :port 7070}
          :opts {:hostname "localhost"
                 :port 7070
                 :base-dir "./gopher"}}
 :http {:binding {:address "0.0.0.0" :port 8080}
        :opts {:asset-dir "./www"}}}